/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Martel+Sans:wght@200&display=swap');

html {
    min-height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #FFEDD8;
    color: #227396;
}

h1, h2, h3 {
    font-family: 'Arvo', serif; 
    font-weight: 700;
    color: #2F323A;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: #EE6A05;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: -6px;
    margin: 0 5%;
    padding-top: 10px;
}

/* difficulty settings section */

#difficulty-section {
    height: 80px;
    width: 95%;
    margin: 10px auto;
    border: 10px solid #227396;
    border-radius: 30px;
    clear: both;
    background-color: #2F323A;
    text-align: center;
}

#difficulty-section button {
    background-color: #227396;
    color: #FFEDD8;
    border-radius: 20px;
    height: 50px;
    width: 160px;
    margin: 14px 40px;
    font-size: 180%;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
}

#difficulty-section button:hover {
    background-color: #EE6A05;
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: #2F323A;
    background-color: #EE6A05;
}

#footer-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 8px;
    font-weight: 700;
}

#footer-text i {
    color: #2F323A;
    padding: 0 20px;
    font-size: 2rem;
}